venv/
.venv/
env/
ENV/
.env/

__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/

.git/
.gitignore

.vscode/
.idea/
*.iml

htmlcov/
.coverage
.coverage.*
.tox/
nosetests.xml
coverage.xml
*.cover


*.sqlite3
db.sqlite3
media/
staticfiles/
local_static/

*.log
*.tmp
*.bak
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
