body {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: var(--color-dark);
  background-color: var(--color-light);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
button,
input,
textarea,
svg *  {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -3%;
}

