@import 'normalize', 'mixins', 'fonts', 'variables', 'media', 'utils', 'globals';

@import
    "../components/Button/Button",
    "../components/Input/Input",
    "../components/Form/Form.scss",
    "../components/Logo/Logo",
    "../components/Header/Header",
    "../components/Logo/Logo",
    "../components/Block/Block",
    "../components/Post/Post",
    "../components/PostComposer/PostComposer",
    "../pages/Auth/SignIn/SignIn",
    "../pages/Auth/SignUp/SignUp",
    "../pages/Profile/Profile";