@charset "UTF-8";
* {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Formular";
  src: url("../assets/fonts/Formular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham-Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("../assets/fonts/Gotham-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #FFFFFF;
  --color-dark: #090740;
  --color-dark-alt: #1A1A1A;
  --color-accent: #0077FF;
  --color-red: #FF0048;
  --color-border: #E9E9E9;
  --border-radius: 16px;
  --border-radius-big: 50px;
  --border: 1px solid var(--color-border);
  --font-family: "Gotham", sans-serif;
  --font-family-additional: "Formular", sans-serif;
  --container-width: 910px;
  --container-padding-x: 16px;
  --input-height: 45px;
  --button-height: 45px;
  --transition-duration: .2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

body {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -3%;
}

.button {
  border: none;
  background: none;
}
.button__form {
  width: 100%;
  height: var(--button-height);
  background-color: var(--color-accent);
  color: var(--color-light);
  border-radius: var(--border-radius);
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow var(--transition-duration) ease;
}
@media (hover: hover) {
  .button__form:hover {
    box-shadow: 0 0 10px rgba(0, 119, 255, 0.8);
  }
}
@media (hover: none) {
  .button__form:active {
    box-shadow: 0 0 10px rgba(0, 119, 255, 0.8);
  }
}

.field {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  max-width: 400px;
  width: 100%;
  font-family: var(--font-family-additional);
  font-weight: 400;
}
.field__input {
  font-family: var(--font-family-additional);
  font-weight: 400;
  max-width: 400px;
  width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  height: var(--input-height);
  padding-inline: 18px;
  outline: none;
  transition: all var(--transition-duration) ease;
  background-color: var(--color-light);
}
@media (max-width: 767px) {
  .field__input {
    width: 350px;
  }
}
.field__input:focus {
  border-color: var(--color-accent);
  transform: translateY(-1px);
}
.field__input:hover:not(:focus) {
  border-color: rgba(0, 119, 255, 0.3);
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding-block: 12px;
}
@media (max-width: 767px) {
  .form {
    min-height: auto;
  }
}
.form__inner {
  padding: 42px;
  border: var(--border);
  border-radius: var(--border-radius-big);
  transition: all var(--transition-duration) ease;
  animation: fadeInUp 0.4s ease-out;
}
@media (max-width: 767px) {
  .form__inner {
    border: 0;
    padding: 0;
  }
}
.form__header {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
.form__inputs {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding-block: 20px 12px;
  width: 400px;
}
@media (max-width: 767px) {
  .form__inputs {
    max-width: 400px;
    width: 100%;
  }
}
.form__forgot {
  display: flex;
  justify-content: end;
  padding-bottom: 12px;
  font-weight: 400;
  transition: all var(--transition-duration) ease;
}
@media (hover: hover) {
  .form__forgot:hover {
    opacity: 0.6;
    transform: translateX(-2px);
  }
}
@media (hover: none) {
  .form__forgot:active {
    opacity: 0.6;
    transform: translateX(-2px);
  }
}
.form__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  padding-top: 12px;
}
.form__or {
  width: 100%;
  text-align: center;
  color: var(--color-dark);
  font-weight: 400;
  position: relative;
}
.form__or::before, .form__or::after {
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  background-color: #bababa;
  opacity: 0.2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.form__or::before {
  right: 0;
}
.form__google {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 12px;
  border-radius: var(--border-radius);
  border: var(--border);
  width: 100%;
  height: 55px;
  transition: all var(--transition-duration) ease;
  background-color: var(--color-light);
}
@media (hover: hover) {
  .form__google:hover {
    border: 1px solid var(--color-accent);
    transform: translateY(-2px);
  }
}
@media (hover: none) {
  .form__google:active {
    border: 1px solid var(--color-accent);
    transform: translateY(-2px);
  }
}
.form__google:active {
  transform: translateY(0);
}
.form__notreg {
  padding-top: 4px;
}
.form__notreg-text {
  font-weight: 400;
  opacity: 0.4;
}
.form__notreg-link {
  font-weight: 400;
  transition: all var(--transition-duration) ease;
}
@media (hover: hover) {
  .form__notreg-link:hover {
    color: var(--color-accent);
    transform: translateX(2px);
  }
}
@media (hover: none) {
  .form__notreg-link:active {
    color: var(--color-accent);
    transform: translateX(2px);
  }
}
.form__button--margin {
  margin-top: 8px;
}
.form__text {
  font-family: var(--font-family-additional);
  font-weight: 400;
  margin-top: -15px;
  opacity: 0.6;
}
.form__subtitle {
  font-family: var(--font-family-additional);
  font-weight: 400;
  margin-top: -30px;
  opacity: 0.6;
}
.form__code {
  display: flex;
  column-gap: 8px;
  justify-content: space-between;
}
.form__code-input {
  width: 60px;
  height: 70px;
  border-radius: var(--border-radius);
  border: var(--border);
  outline: none;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  transition: all var(--transition-duration) ease;
  background-color: var(--color-light);
}
.form__code-input:focus {
  border-color: var(--color-accent);
  box-shadow: 0 0 0 3px rgba(0, 119, 255, 0.1);
  transform: scale(1.05);
}
.form__code-input:hover:not(:focus) {
  border-color: rgba(0, 119, 255, 0.3);
}
@media (max-width: 767px) {
  .form__code-input {
    height: 60px;
    width: 50px;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.logo__image {
  width: 38px;
  height: 35px;
}

.header {
  padding-top: 40px;
}
@media (max-width: 767px) {
  .header {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .header {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-light);
    width: 90%;
    z-index: 100;
    border-radius: var(--border-radius-big);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 4px 10px;
  }
}
.header__inner {
  position: relative;
}
.header__nav-list {
  display: flex;
  align-items: center;
  column-gap: 18px;
}
@media (max-width: 767px) {
  .header__nav-item {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
  }
}
@media (max-width: 767px) {
  .header__nav-link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: var(--border-radius-big);
    position: relative;
    overflow: hidden;
  }
}
@media (hover: hover) {
  .header__nav-link:hover {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .header__nav-link:active {
    opacity: 0.6;
  }
}
.header__nav-link--active {
  cursor: default;
  pointer-events: none;
}
@media (max-width: 767px) {
  .header__nav-link--active {
    background: rgba(0, 119, 255, 0.06);
  }
}
@media (max-width: 767px) {
  .header__nav-icon {
    width: 20px;
    height: 20px;
    transition: transform var(--transition-duration), opacity var(--transition-duration);
  }
}
.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .header__logo {
    display: none;
  }
}

.logo__image {
  width: 38px;
  height: 35px;
}

.block {
  padding-block: 20px;
}
@media (max-width: 767px) {
  .block {
    padding-bottom: 100px;
  }
}
.block__inner {
  position: relative;
  padding: 42px 89px 42px 42px;
  border-radius: var(--border-radius-big);
  border: var(--border);
}
@media (max-width: 767px) {
  .block__inner {
    padding: 12px;
    border: none;
  }
}
.block__inner::after {
  content: "";
  display: block;
  width: 47px;
  height: 100%;
  background: var(--color-accent);
  border-top-right-radius: var(--border-radius-big);
  border-bottom-right-radius: var(--border-radius-big);
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 767px) {
  .block__inner::after {
    display: none;
  }
}

.post__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 20px;
}
.post__item {
  list-style: none;
}
.post__inner {
  display: flex;
  flex-direction: column;
  padding: 18px;
  border: var(--border);
  border-radius: var(--border-radius);
}
.post__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.post__header-buttons {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
@media (max-width: 767px) {
  .post__header-buttons {
    column-gap: 8px;
  }
}
@media (hover: hover) {
  .post__header-button:hover {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .post__header-button:active {
    opacity: 0.6;
  }
}
@media (max-width: 767px) {
  .post__header-button {
    width: 32px;
  }
}
.post__author {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
@media (max-width: 767px) {
  .post__author-image {
    width: 32px;
    height: 32px;
  }
}
.post__author-data {
  display: flex;
  flex-direction: column;
}
.post__author-nickname {
  font-size: 16px;
}
@media (max-width: 767px) {
  .post__author-nickname {
    font-size: 14px;
  }
}
.post__date {
  font-family: var(--font-family-additional);
  opacity: 0.6;
  margin-top: -4px;
}
.post__text {
  padding-block: 16px 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
@media (max-width: 767px) {
  .post__text {
    font-size: 14px;
    padding-block: 14px 10px;
  }
}
.post__buttons {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.post__button {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 14px;
  font-family: var(--font-family-additional);
}
@media (hover: hover) {
  .post__button:hover {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .post__button:active {
    opacity: 0.6;
  }
}

.post-composer__inner {
  display: flex;
  flex-direction: column;
  padding: 18px;
  border: var(--border);
  border-radius: var(--border-radius);
  background: var(--color-light);
  position: relative;
}
@media (max-width: 767px) {
  .post-composer__inner {
    height: 130px;
  }
}
.post-composer__textarea {
  width: 100%;
  min-height: 80px;
  padding: 0;
  margin-bottom: 12px;
  border: none;
  outline: none;
  resize: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: var(--color-dark-alt);
  background: transparent;
}
@media (max-width: 767px) {
  .post-composer__textarea {
    font-size: 14px;
  }
}
.post-composer__actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 12px;
  position: absolute;
  bottom: 18px;
  right: 18px;
}
.post-composer__send, .post-composer__attach {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media (max-width: 767px) {
  .post-composer__send, .post-composer__attach {
    width: 42px;
    height: 42px;
  }
}
.post-composer__attach {
  background-color: transparent;
  border: var(--border);
  transition: opacity 0.2s;
}
@media (hover: hover) {
  .post-composer__attach:hover {
    box-shadow: none;
    opacity: 0.6;
  }
}
@media (hover: none) {
  .post-composer__attach:active {
    box-shadow: none;
    opacity: 0.6;
  }
}
.post-composer__send {
  background-color: var(--color-accent);
}
@media (hover: hover) {
  .post-composer__send:hover {
    box-shadow: 0 0 10px rgba(0, 119, 255, 0.8);
  }
}
@media (hover: none) {
  .post-composer__send:active {
    box-shadow: 0 0 10px rgba(0, 119, 255, 0.8);
  }
}

.organization__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media (max-width: 767px) {
  .organization__list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 12px;
  }
}
.organization__item {
  width: 100%;
}
.organization__inner {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding-inline: 18px;
  height: 90px;
  width: 380px;
  position: relative;
  border-radius: var(--border-radius);
  border: var(--border);
}
@media (hover: hover) {
  .organization__inner:hover .organization__arrow,
  .organization__inner:hover .organization__followers {
    opacity: 1;
  }
}
@media (hover: none) {
  .organization__inner:active .organization__arrow,
  .organization__inner:active .organization__followers {
    opacity: 1;
  }
}
.organization__info {
  display: flex;
  flex-direction: column;
}
.organization__title {
  font-size: 16px;
}
@media (max-width: 767px) {
  .organization__title {
    font-size: 14px;
  }
}
.organization__followers {
  font-family: var(--font-family-additional);
  font-weight: 400;
  opacity: 0.4;
  margin-top: -4px;
  transition-duration: var(--transition-duration);
}
.organization__arrow {
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  opacity: 0.4;
  transition-duration: var(--transition-duration);
}

.settings-overlay {
  border-radius: var(--border-radius);
  border: none;
  padding: 0;
}
.settings-overlay__inner {
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.settings-overlay__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings-overlay__close-button {
  background: none;
}
@media (hover: hover) {
  .settings-overlay__close-button:hover {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .settings-overlay__close-button:active {
    opacity: 0.6;
  }
}
.settings-overlay__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.settings-overlay__button {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
@media (hover: hover) {
  .settings-overlay__button:hover {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .settings-overlay__button:active {
    opacity: 0.6;
  }
}
.settings-overlay__button-body {
  display: flex;
  flex-direction: column;
}
.settings-overlay__button-title {
  font-size: 16px;
}
.settings-overlay__button-description {
  font-family: var(--font-family-additional);
  margin-top: -4px;
  opacity: 0.4;
}
.settings-overlay__logout-title, .settings-overlay__logout-description {
  color: var(--color-red);
}

.search {
  display: flex;
  align-items: center;
  column-gap: 12px;
  font-size: 16px;
  width: 100%;
  height: 60px;
  border: var(--border);
  border-radius: var(--border-radius);
  padding-inline: 18px;
}
@media (max-width: 767px) {
  .search {
    font-size: 14px;
    height: 50px;
  }
}
.search-input {
  border: none;
  outline: none;
  font-weight: 400;
  height: 100%;
}

.user__inner {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: opacity var(--transition-duration);
}
.user__inner::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.85) 100%);
  pointer-events: none;
}
.user__avatar {
  border-radius: var(--border-radius);
  display: block;
}
.user__nickname {
  font-size: 16px;
  margin-bottom: -4px;
}
@media (max-width: 767px) {
  .user__nickname {
    font-size: 14px;
  }
}
.user__username {
  font-family: var(--font-family-additional);
  font-weight: 400;
  opacity: 0.6;
}
.user__body {
  position: absolute;
  bottom: 12px;
  left: 12px;
  color: var(--color-light);
  z-index: 1;
}
.user__list {
  display: flex;
  align-items: center;
  column-gap: 12px;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.user__list::-webkit-scrollbar {
  display: none;
}
.user__block {
  padding: 18px;
  border: var(--border);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.user__item {
  flex: 0 0 auto;
  scroll-snap-align: start;
}
@media (hover: hover) {
  .user__item:hover .user__inner {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .user__item:active .user__inner {
    opacity: 0.6;
  }
}
.user__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user__title {
  font-size: 16px;
  margin-bottom: -4px;
}
.user__description {
  font-family: var(--font-family-additional);
  font-weight: 400;
  opacity: 0.4;
}
.user__button {
  cursor: pointer;
}
@media (hover: hover) {
  .user__button:hover {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .user__button:active {
    opacity: 0.6;
  }
}
@media (max-width: 767px) {
  .user__button {
    display: none;
  }
}

.notification-list__list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.notification {
  width: 100%;
  height: 70px;
  padding-inline: 18px;
  border: var(--border);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
}
.notification__inner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (hover: hover) {
  .notification__inner:hover .notification__arrow,
  .notification__inner:hover .notification__action {
    opacity: 1;
  }
}
@media (hover: none) {
  .notification__inner:active .notification__arrow,
  .notification__inner:active .notification__action {
    opacity: 1;
  }
}
.notification__author {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.notification__username {
  font-size: 16px;
  margin-bottom: -4px;
}
@media (max-width: 767px) {
  .notification__username {
    font-size: 14px;
  }
}
.notification__action {
  font-family: var(--font-family-additional);
  font-weight: 400;
  font-size: 14px;
  opacity: 0.4;
  transition-duration: var(--transition-duration);
}
.notification__body {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.notification__arrow {
  opacity: 0.4;
  transition-duration: var(--transition-duration);
}

.feed__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feed__header-body {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.feed__header-info {
  display: flex;
  flex-direction: column;
}
.feed__hello {
  font-size: 20px;
}
@media (max-width: 767px) {
  .feed__hello {
    font-size: 18px;
  }
}
.feed__description {
  margin-top: -2px;
  font-family: var(--font-family-additional);
  font-size: 16px;
  opacity: 0.4;
  font-weight: 400;
}
@media (max-width: 767px) {
  .feed__description {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .feed__avatar {
    width: 40px;
    height: 40px;
  }
}
.feed__button-notif {
  cursor: pointer;
  background: none;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .feed__button-notif:hover {
    background: none;
    border: none;
    box-shadow: none;
    opacity: 0.6;
  }
}
@media (hover: none) {
  .feed__button-notif:active {
    background: none;
    border: none;
    box-shadow: none;
    opacity: 0.6;
  }
}
@media (max-width: 767px) {
  .feed__button-notif-icon {
    width: 52px;
    height: 52px;
  }
}
.feed__search {
  margin-block: 24px;
}
@media (max-width: 767px) {
  .feed__search {
    margin-block: 16px;
  }
}
.feed__user-list {
  margin-top: 16px;
}

.profile__data {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
@media (max-width: 767px) {
  .profile__data {
    row-gap: 16px;
  }
}
.profile__info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media (max-width: 767px) {
  .profile__info {
    row-gap: 12px;
  }
}
.profile__info-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.profile__info-text {
  display: flex;
  flex-direction: column;
}
.profile__info-buttons {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
@media (max-width: 767px) {
  .profile__info-buttons {
    column-gap: 0;
  }
}
.profile__info-button {
  cursor: pointer;
}
@media (hover: hover) {
  .profile__info-button:hover {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .profile__info-button:active {
    opacity: 0.6;
  }
}
@media (max-width: 767px) {
  .profile__info-button-icon {
    width: 52px;
    height: 52px;
  }
}
.profile__nickname {
  font-size: 24px;
}
@media (max-width: 767px) {
  .profile__nickname {
    font-size: 18px;
  }
}
.profile__username {
  font-family: var(--font-family-additional);
  font-size: 18px;
  font-weight: 400;
  opacity: 0.6;
}
@media (max-width: 767px) {
  .profile__username {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .profile__avatar {
    width: 60px;
    height: 60px;
  }
}
.profile__stats {
  width: fit-content;
  padding: 16px 28px;
  border: var(--border);
  border-radius: var(--border-radius);
}
@media (max-width: 767px) {
  .profile__stats {
    padding: 12px 20px;
  }
}
.profile__stats-list {
  display: flex;
  align-items: center;
  column-gap: 28px;
}
@media (max-width: 767px) {
  .profile__stats-list {
    column-gap: 16px;
  }
}
.profile__stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__stats-value {
  font-size: 16px;
}
@media (max-width: 767px) {
  .profile__stats-value {
    font-size: 14px;
  }
}
.profile__stats-title {
  font-size: 14px;
  font-family: var(--font-family-additional);
  font-weight: 400;
  opacity: 0.6;
}
.profile__buttons {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
@media (max-width: 767px) {
  .profile__buttons {
    column-gap: 12px;
  }
}
.profile__button {
  height: 40px;
  width: 150px;
  font-size: 14px;
  border-radius: var(--border-radius);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .profile__button {
    width: 130px;
    height: 35px;
  }
}
.profile__subscribe {
  background-color: var(--color-accent);
  color: var(--color-light);
}
@media (hover: hover) {
  .profile__subscribe:hover {
    box-shadow: 0 0 10px rgba(0, 119, 255, 0.6);
  }
}
@media (hover: none) {
  .profile__subscribe:active {
    box-shadow: 0 0 10px rgba(0, 119, 255, 0.6);
  }
}
.profile__message {
  border: var(--border);
  transition: opacity 0.2s;
}
@media (hover: hover) {
  .profile__message:hover {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .profile__message:active {
    opacity: 0.6;
  }
}
.profile__tabs {
  display: flex;
  gap: 0;
  margin-top: 24px;
  padding-bottom: 16px;
}
.profile__tabs .profile__tab + .profile__tab {
  margin-left: -1px;
}
.profile__tabs .profile__tab--active {
  position: relative;
  z-index: 1;
}
.profile__organizations {
  width: 100%;
}
.profile__organizations-list {
  width: 100%;
}
.profile__organizations-item {
  width: 100%;
}
.profile__organizations-item .organization__inner {
  width: 100%;
}
.profile__tab {
  flex: 1;
  padding: 12px 20px;
  font-size: 14px;
  background: none;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  color: var(--color-dark);
  opacity: 0.6;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: color var(--transition-duration), opacity var(--transition-duration), border-color var(--transition-duration), background-color var(--transition-duration);
}
@media (hover: hover) {
  .profile__tab:hover {
    opacity: 0.8;
  }
}
@media (hover: none) {
  .profile__tab:active {
    opacity: 0.8;
  }
}
@media (max-width: 767px) {
  .profile__tab {
    height: 35px;
  }
}
.profile__tab--active {
  color: var(--color-accent);
  opacity: 1;
  border: 1px solid var(--color-accent);
  background-color: var(--color-light);
}
@media (hover: hover) {
  .profile__tab--active:hover {
    opacity: 1;
  }
}
@media (hover: none) {
  .profile__tab--active:active {
    opacity: 1;
  }
}

.notifications__inner {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.notifications__header {
  display: flex;
  column-gap: 12px;
  align-items: center;
}
@media (hover: hover) {
  .notifications__link:hover {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .notifications__link:active {
    opacity: 0.6;
  }
}
@media (max-width: 767px) {
  .notifications__title {
    font-size: 18px;
  }
}

.search-page__inner {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.search-page__popular {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 18px;
}
.search-page__popular-title {
  font-size: 16px;
}
.search-page__popular-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.search-page__popular-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  font-weight: 400;
}
.search-page__popular-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  border: var(--border);
  border-radius: var(--border-radius);
  padding-inline: 18px;
}
@media (hover: hover) {
  .search-page__popular-link:hover .search-page__popular-icon,
  .search-page__popular-link:hover .search-page__popular-count {
    opacity: 1;
  }
}
@media (hover: none) {
  .search-page__popular-link:active .search-page__popular-icon,
  .search-page__popular-link:active .search-page__popular-count {
    opacity: 1;
  }
}
.search-page__popular-count {
  opacity: 0.4;
  font-weight: 400;
  transition-duration: var(--transition-duration);
}
.search-page__popular-body {
  display: flex;
  column-gap: 12px;
}
.search-page__popular-icon {
  opacity: 0.4;
  transition-duration: var(--transition-duration);
}

@media (max-width: 767px) {
  .chats {
    padding-bottom: 0;
  }
}
.chats__inner {
  padding: 0;
  display: flex;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.chats__link {
  display: flex;
  align-items: center;
  column-gap: 12px;
  width: 290px;
  height: 70px;
  border: var(--border);
  border-left: none;
  border-bottom: none;
  border-right: none;
  padding-inline: 18px;
  cursor: pointer;
  color: var(--color-dark);
}
@media (max-width: 1023px) {
  .chats__link {
    width: 100%;
  }
}
@media (hover: hover) {
  .chats__link:hover .chats__menu-message {
    opacity: 1;
  }
}
@media (hover: none) {
  .chats__link:active .chats__menu-message {
    opacity: 1;
  }
}
.chats__title {
  padding: 32px 0 42px 42px;
  height: 84px;
}
@media (max-width: 767px) {
  .chats__title {
    font-size: 18px;
    padding: 20px;
  }
}
.chats__menu {
  height: 656px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
@media (max-width: 1023px) {
  .chats__menu {
    width: 100%;
  }
}
.chats__menu {
  /* Hide scrollbar for Chrome, Safari and Opera */
}
.chats__menu::-webkit-scrollbar {
  display: none;
}
.chats__menu {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.chats__menu-avatar {
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  display: block;
  object-fit: cover;
}
.chats__menu-info {
  display: flex;
  flex-direction: column;
}
.chats__menu-nickname {
  margin-bottom: -4px;
  font-size: 16px;
  text-align: start;
}
.chats__menu-message {
  font-family: var(--font-family-additional);
  font-weight: 400;
  opacity: 0.6;
  transition-duration: var(--transition-duration);
}
.chats__list {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
@media (max-width: 1023px) {
  .chats__list {
    width: 100%;
  }
}
.chats__main {
  border-left: var(--border);
  max-width: 573px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 656px;
}
@media (max-width: 1023px) {
  .chats__main {
    display: none;
    border: none;
    max-width: 100%;
  }
}
.chats__main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  padding-inline: 24px;
  border-bottom: var(--border);
}
@media (max-width: 1023px) {
  .chats__main-header {
    height: 60px;
  }
}
.chats__main-user {
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.chats__main-user-nickname {
  font-size: 16px;
  margin-bottom: -4px;
}
.chats__main-user-lastseen {
  font-size: 14px;
  font-family: var(--font-family-additional);
  font-weight: 400;
  opacity: 0.6;
}
@media (hover: hover) {
  .chats__main-settings:hover {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .chats__main-settings:active {
    opacity: 0.6;
  }
}
.chats__send {
  flex-shrink: 0;
  height: 60px;
  padding-inline: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-top: var(--border);
}
.chats__send-input {
  border: none;
  outline: none;
  font-weight: 400;
  width: 100%;
  height: 100%;
}
@media (max-width: 1023px) {
  .chats__send-input {
    font-size: 14px;
  }
}
.chats__actions {
  display: flex;
  align-items: center;
}
.chats__attach {
  cursor: pointer;
}
@media (max-width: 767px) {
  .chats__attach {
    width: 70px;
  }
}
@media (hover: hover) {
  .chats__attach:hover {
    opacity: 0.6;
  }
}
@media (hover: none) {
  .chats__attach:active {
    opacity: 0.6;
  }
}
.chats .chats__send-button-icon {
  border-radius: 50%;
  transition-duration: var(--transition-duration);
}
.chats__send-button {
  cursor: pointer;
}
.chats__send-button-icon {
  width: 60px;
}
@media (hover: hover) {
  .chats__send-button:hover .chats__send-button-icon {
    box-shadow: 0 0 10px rgba(0, 119, 255, 0.8);
  }
}
@media (hover: none) {
  .chats__send-button:active .chats__send-button-icon {
    box-shadow: 0 0 10px rgba(0, 119, 255, 0.8);
  }
}
.chats__correspondence {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  overflow-y: auto;
  overflow-x: hidden;
}
.chats__correspondence::-webkit-scrollbar {
  display: none;
}
.chats__correspondence {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.chats__message {
  position: relative;
  max-width: 281px;
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--color-dark);
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-family-additional);
  padding: 10px 18px 20px 18px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  box-sizing: border-box;
}
.chats__message--my {
  margin-left: auto;
  background-color: rgba(0, 119, 255, 0.05);
}
.chats__message--foreign {
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.02);
}
.chats__message-text {
  display: inline;
  padding-right: 50px;
}
.chats__message-time {
  position: absolute;
  bottom: 8px;
  right: 12px;
  font-size: 12px;
  opacity: 0.4;
}
.chats__back {
  display: none;
  background: none;
  border: none;
  padding: 0;
  margin-right: 8px;
}
@media (max-width: 1023px) {
  .chats__back {
    display: inline-flex;
  }
}
@media (max-width: 1023px) {
  .chats--detail .chats__menu {
    display: none;
  }
  .chats--detail .chats__main {
    display: flex;
  }
}

/*# sourceMappingURL=styles.css.map */
