.user {
  &__inner {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: opacity var(--transition-duration);

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 50%;
      background: linear-gradient(
                      180deg,
                      rgba(0, 0, 0, 0) 0%,
                      rgba(0, 0, 0, 0.85) 100%
      );
      pointer-events: none;
    }
  }

  &__avatar {
    border-radius: var(--border-radius);
    display: block;
  }


  &__nickname {
    font-size: 16px;
    margin-bottom: -4px;

    @include mobile {
      font-size: 14px;
    }
  }

  &__username {
    font-family: var(--font-family-additional);
    font-weight: 400;
    opacity: .6;
  }

  &__body {
    position: absolute;
    bottom: 12px;
    left: 12px;
    color: var(--color-light);
    z-index: 1;
  }


  &__list {
    display: flex;
    align-items: center;
    column-gap: 12px;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;

    // скрываем скроллбар, скролл только стрелками
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__block {
    padding: 18px;
    border: var(--border);
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  &__item {
    flex: 0 0 auto;
    scroll-snap-align: start;

    @include hover {
      .user__inner {
        opacity: 0.6;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: 16px;
    margin-bottom: -4px;
  }

  &__description {
    font-family: var(--font-family-additional);
    font-weight: 400;
    opacity: .4;

  }

  &__button {
    cursor: pointer;

    @include hover {
      opacity: 0.6;
    }

    @include mobile {
      display: none;
    }
  }
}