.post-composer {

  &__inner {
    display: flex;
    flex-direction: column;
    padding: 18px;
    border: var(--border);
    border-radius: var(--border-radius);
    background: var(--color-light);

    position: relative;

    @include mobile {
      height: 130px;
    }
  }

  &__textarea {
    width: 100%;
    min-height: 80px;
    padding: 0;
    margin-bottom: 12px;
    border: none;
    outline: none;
    resize: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: var(--color-dark-alt);
    background: transparent;



    @include mobile {
      font-size: 14px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 12px;

    position: absolute;
    bottom: 18px;
    right: 18px;
  }

  &__send,
  &__attach {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @include mobile {
      width: 42px;
      height: 42px;
    }
  }

  &__attach {
    background-color: transparent;
    border: var(--border);
    transition: opacity 0.2s;

    @include hover {
      box-shadow: none;
      opacity: 0.6;
    }
  }

  &__send {
    background-color: var(--color-accent);

    @include hover {
      box-shadow: 0 0 10px rgba(0, 119, 255, 0.8);
    }
  }
}
