.settings-overlay {
  border-radius: var(--border-radius);
  border: none;
  padding: 0;


  &__inner {
    padding: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__close {
    &-button {
      background: none;

      @include hover {
        opacity: 0.6;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 12px;
    width: 100%;
    text-align: left;
    padding: 0;

    @include hover {
      opacity: .6;
    }

    &-body {
      display: flex;
      flex-direction: column;
    }

    &-title {
      font-size: 16px;
    }

    &-description {
      font-family: var(--font-family-additional);
      margin-top: -4px;
      opacity: .4;
    }
  }

  &__logout {
    cursor: pointer;
    

    &-title,
    &-description {
      color: var(--color-red);
    }
  }
}