.button {
  width: 100%;
  height: var(--button-height);
  background-color: var(--color-accent);
  color: var(--color-light);
  border-radius: var(--border-radius);
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--transition-duration) ease;
  cursor: pointer;

  @include hover {
    box-shadow: 0 0 12px rgba(0, 119, 255, 0.6);
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 0 8px rgba(0, 119, 255, 0.4);
  }
}